.stage{
   margin:0;
   width: 100%;
   height: 100%;
}

.curtaintop{
   width: 100%;
   background-color: #f4f4f4;
   position:fixed;
   height: 47%;
   top: 0;
    animation:curtaintop 1s;
   animation-delay:5s; 
   animation-fill-mode: forwards;
}

.curtainbottom{
   width: 100%;
   background-color: #f4f4f4;
   position:fixed;
   height: 53%;
   bottom: 0;
    animation:curtainbottom 1s;
   animation-delay:5s; 
   animation-fill-mode: forwards;
}


.section{
   margin-bottom:5px;
   width: 24.75%;
   background-color: grey;
   height: 250px;
   float: left;
   background-size: cover;
   background-position: center center;
}

.first{
   width: 100%;
   height: 700px;
   background-image: url(images/work.jpg);
   background-size: cover;
   background-position: center bottom;
   text-align: center;
   color: white;
}

.first p{
   position: absolute;
   width: 100%;
   font-weight: 300;
   top: 8%;
   font-size: 2em;
   line-height: 1.3em;
}

.second{
   background-image: url(images/book.jpg);
   margin-right: 0.33%;
   

}

.third{
    background-image: url(images/poster.jpg);
   margin-right: 0.33%;
}

.fourth{
    margin-right: 0.33%;
}

.fifth{
   margin-right: 0;
}


.intro{
   
   width: 200px;
   height: 30px;
/*   padding: 10px;*/
   border-style: solid;
   border-width: 3px;
   border-color: #111111;
   background-color: white;
   color: white;
   top: calc(50% - 40px);
   left: calc(50% - 100px);
   position: fixed;
   animation:expand 2s;
   animation-delay:4s; 
   animation-fill-mode: forwards;

}

.credit{
   
   width: 100%;
   height: 30px;
   
   border-style: solid;
   border-width: 3px;
   border-color: black;
   background-color: #111111;
   color: white;
   bottom: calc(50% + 4px);
   left: 0;
   position: fixed;
   animation:expand2 1s;
   animation-delay:5s; 
   opacity: 0;
   animation-fill-mode: forwards;

}

.credit img{
   right: 2%;
   position: absolute;
   top: 5px;
}

.title{
   
   width: 200px;
   height: 30px;
   color: white;
   top: calc(50% - 37px);
   left: calc(50% - 95px);
   position: fixed;
   text-align: center;
   line-height: 30px;
   letter-spacing: 1.8px;
   font-weight: 600;
   animation:move1 2s;
   animation-delay:4s; 
   animation-fill-mode: forwards;

}

.nav{
   
   width: auto;
   height: 30px;
   color: white;
   top: 7px;
   right: 19%;
   position: fixed;
   text-align: center;
   line-height: 30px;
   letter-spacing: 1.8px;
   font-weight: 300;
   font-size: 0.8em;
   opacity: 0;
   animation:move2 1s;
   animation-delay:6s; 
   animation-fill-mode: forwards;
   word-spacing:20px;

}

.loading{
	animation:loading 4s;
	height: 100%;
	background-color: #111111;
	animation-fill-mode: forwards;
	left: 0;
	margin:0;


}

@keyframes loading{
	0%{width: 0%;}
	70%{width: 6%;}
	100%{width: 100%;}
}

@keyframes expand{
   0%{width: 200px;background-color: black;}
   
   50%{height: 30px;width: 100%;background-color: black;left: 0;top: calc(50% - 40px);}


   100%{height: 35px;width: 100%;background-color: black;left: 0;top: 0;}
}

@keyframes expand2{
   0%{bottom: calc(50% + 4px); opacity: 1;}
   100%{bottom: 0; opacity: 1;}
}

@keyframes move1{
   0%{left: calc(50% - 95px);top: calc(50% - 37px);}
   50%{left: 15%;top: calc(50% - 37px);}
   100%{left: 15%;top: 6px;}
}

@keyframes move2{
   0%{opacity: 0;}
  
   100%{opacity: 1;}
}

@keyframes curtaintop{
   0%{top:0;}
  
   100%{top:-47%;}
}

@keyframes curtainbottom{
   0%{bottom:0;}
  
   100%{bottom:-53%;}
}



body {
	font: 18px/30px Sans-serif; 
	font-family: "proxima-nova";
   margin:0;
   background-color: #f4f4f4;
}
a{
   text-decoration: none;
   color: white;
   transition: 0.25s;
}

a:hover{
   color: #cccccc;
}